.home-hero {
  // 228px-140px von 320px bis 760px;
  --site-head-height: clamp(14.25rem, 18.25rem + -20vw, 8.75rem);

  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: max-content;
  min-height: calc(100dvh - var(--site-head-height));

  .color-dots svg {
    display: inline-block;
    height: 1.5ex;
    transform: translateY(0.1em);
  }

  &__content-wrap {
    position: relative;
    display: grid;
    justify-items: center;

    &::before,
    &::after {
      content: '';
      width: 100%;
      flex-grow: 1;
      flex-basis: 0;
    }

    &::before {
      min-height: 1rem;
    }

    &::after {
      min-height: var(--space-m);
    }
  }

  &__background {
    position: absolute;
    inset: 0;
    background-image: url('images/u-root_terminal_screenshot.webp');
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: screen;
    opacity: 0.05;
    z-index: -1;
  }
}
