.site-head {
  width: min(100% - var(--space-xl), 80rem);
  margin-inline: auto;
  margin-block: var(--space-s);

  /* For focus-visible to work */
  a {
    display: block;
  }

  a:focus-visible {
    outline: 2px dashed var(--color-recover);
    outline-offset: 2px;
  }

  a:not(.site-head__logo):hover {
    color: var(--color-recover);
  }
}
