/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-width: 72.5rem;
  padding: 0 var(--space-m);
  margin-inline: auto;
  position: relative;
}
