// First up: config and functions
@import 'config';
// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';
@import 'reset';

:root {
  --border-radius: 5px;
  --text-glow: 0 0 0.3em color-mix(in srgb, currentColor 30%, transparent);
}

body {
  @include apply-utility('font', 'base');
  @include apply-utility('text', 'step-0');
  background-color: var(--color-void);
  color: var(--color-init);
  text-shadow: var(--text-glow);
}

h1,
h2,
h3 {
  @include apply-utility('font', 'head');
  @include apply-utility('leading', 'flat');
}

h1,
h2 {
  text-align: center;
}

//Utilities
@import 'utilities/sr-only';

//Layout
@import 'layout/centerflex';
@import 'layout/cluster';
@import 'layout/sidebar';
@import 'layout/stack';
@import 'layout/wrapper';

//Blocks
@import 'blocks/btn';
@import 'blocks/home-hero';
@import 'blocks/logo-wall';
@import 'blocks/plain-html';
@import 'blocks/site-foot';
@import 'blocks/site-head';
